
<ion-header>

  <ion-navbar>
    <ion-title>ver pagos</ion-title>
  </ion-navbar>

</ion-header>



<ion-content padding>
    <ion-item>
        <ion-label>Pagos Pendientes</ion-label>
      <ion-toggle [(ngModel)]="vppendientes"></ion-toggle>
    </ion-item>
    
    <ion-item>
      <ion-label>Pagos Realizados</ion-label>
      <ion-toggle [(ngModel)]="vppagado"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="terminada">
        <button ion-button  item-right (click)="terminarventa()">
            terminar Venta
          </button>
      </ion-item>

  <ion-list *ngIf="vppendientes">
      <ion-list-header>
          Pagos Pendientes
        </ion-list-header>
    <ion-item *ngFor="let venta of pagospendientes">
        
        <ion-item>
                <button ion-button item-right (click)="realizarpago(venta.idPago,venta.idGeneral)">
                    realizar pago
                  </button>
          
          <h2>Numero de venta: {{venta.idGeneral}}</h2>
        <h3>Numero de pago: {{venta.idPago}}</h3>
        <h3>Importe a pagar: ${{venta.importe}}</h3>
        <h3> {{venta.fecha_pago}}</h3>
        </ion-item>
      
      </ion-item>
    </ion-list>
    <ion-list *ngIf="vppagado">
        <ion-list-header>
            Pagos Realizados
          </ion-list-header>
      <ion-item *ngFor="let venta of pagospagados">
          
          <ion-item>
            
            <h2>Numero de venta: {{venta.idGeneral}}</h2>
          <h3>Numero de pago: {{venta.idPago}}</h3>
          <h3>Importe a pagar: ${{venta.importe}}</h3>
          <h3> {{venta.fecha_pago}}</h3>
          </ion-item>
        
        </ion-item>
      </ion-list>
</ion-content>
