<ion-header>

    <ion-navbar>
        <ion-title>Ingresar Nueva Venta</ion-title>
    </ion-navbar>

</ion-header>
<ion-content padding>
    <form [formGroup]="ventaform" (ngSubmit)="createventa()">
        <ion-item>
            <ion-label>Numero de Venta</ion-label>
            <ion-input disabled type="text" formControlName="NumeroVenta" value="{{this.numerodeventa}}"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Cliente</ion-label>
            <ion-select formControlName="Cliente">
                <ion-option *ngFor="let cliente of clientes" [value]="cliente.idCliente">{{cliente.nombre}} {{cliente.paterno}} {{cliente.materno}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>Fecha</ion-label>
            <ion-datetime disabled displayFormat="YYYY-MM-DD" pickerFormat="YYYY MM DD" [(ngModel)]="this.fechaactual" formControlName="fecha"></ion-datetime>
        </ion-item>
        <ion-item *ngFor="let att of ventasespecificas; let idx = index">
            <ion-list>
                <ion-item>
                <ion-select item-start placeholder="producto" style="width: 75%;max-width: 75%;" [(ngModel)]="this.prodid[idx].id"  [ngModelOptions]="{standalone: true}">
                    <ion-option *ngFor="let producto of productos" [value]="producto.idProducto" >{{producto.nombre}} ${{producto.precio}}</ion-option>
                </ion-select>
                <ion-input placeholder="cantidad" type="number" [(ngModel)]="this.cantidad[idx].cantidad"  [ngModelOptions]="{standalone: true}" (ionBlur)="cantidadintroducida()"></ion-input>
            </ion-item>
            </ion-list>
        </ion-item>
        <ion-item >
            <button type="button" ion-button item-right icon-only clear (click)="Add()">
                <ion-icon name="add" style="font-size: 30px"></ion-icon>
            </button>
            <button type="button" ion-button icon-only clear (click)="remove()">
                <ion-icon name="close-circle" style="font-size: 30px"></ion-icon>
            </button>
        </ion-item>
        <ion-item>
                <ion-label>Total de la Venta</ion-label>
                <ion-input disabled type="text" formControlName="total" value="{{this.total}}"></ion-input>
            </ion-item>

        <ion-item>
            <ion-select formControlName="meses" placeholder="meses" style="width: 100%;max-width: 100%;">
                <ion-option value="0">0 meses/de contado</ion-option>
                <ion-option value="3">3 meses</ion-option>
                <ion-option value="6">6 meses</ion-option>
                <ion-option value="9">9 meses</ion-option>
            </ion-select>
        </ion-item>

        <button ion-button large block type="submit" [disabled]="!ventaform.valid">Guardar</button>
    </form>

</ion-content>